<h1>Bem-vindo ao sistema!</h1>
<p>Use os links abaixo para navegar:</p>
<ul>
  <li><a href="/spaces/">Espaços</a></li>
  <li><a href="/resources/">Recursos</a></li>
  <li><a href="/users/">Usuários</a></li>
</ul>
