
<h1>Lista de Recursos</h1>
<ul>
  {{#each resources}}
    <li>
      {{this.name}} - {{this.description}} (Espaço: {{this.Space.name}})
      <form method="POST" action="/resources/delete/{{this.id}}" style="display:inline;">
        <button type="submit">Excluir</button>
      </form>
    </li>
  {{/each}}
</ul>
<a href="/resources/create">Novo Recurso</a>
