<h1>Login</h1>
<form action="/users/login" method="POST">
  <input type="email" name="email" placeholder="Email" required>
  <input type="password" name="password" placeholder="password" required>
  <button type="submit">Login</button>
  <a href="/users/register">Registrar</a>
</form>
<a href="/spaces">Ver Espaços</a>
<a href="/users/list">Listar todos os usuarios</a>

